header{
    background-color:hotpink; color:azure; text-align: center; 
    font-family: cursive, arial;   
    font-style:normal; 
    text-shadow: 3px 2px 5px red, -3px -2px 5px rgb(132, 35, 84);
    border-style: inset;
    border-width: 0.5cm;
    border-radius: 100px;
    border-color: rgb(82, 241, 234);
}
h2{
    color: #59ff5f;
    font-family: 'courier new';
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
#box{
    width: 100px;
    height: 100px;
    background-color: grey;
    box-shadow: 4px 4px 5px;
}
div{
    background-color: rgb(240, 169, 232);
}
body{
    margin: 3px;
    background-image: url(kqtQKB.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.box{
    border: 5px solid;
    font-size: 3em;
    width: 100px;
    height: 100px;
}
#box1{
    background-color: lightblue;
    margin-left: 50px;
    margin-bottom: 40px;
}
#box2{
    background-color: yellowgreen;
    margin:auto;
}
#hs{
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}
#box3{
    border: 2px solid;
    height: 80px;
    overflow: auto;
}
#div{
    background-color: rgb(226, 116, 116);
    height: 100px;
    position: fixed;
    bottom:0px;
    right: 0px;
    
}
#span{
    background-color: rgb(142, 142, 232);
    width: 50%;
    height: 100px;
    display: block;
}
#p1{
    background-color: rgb(210, 98, 98);
    width: 200px;
    height: 200px;
    position: relative;
    top: 0px;
    
}
#p2{
    background-color: rgb(81, 81, 206);
    width: 100px;
    height: 100px;
    position: absolute;
    top:50px;
    left: 50px;
}
#brush{
    margin-right: 10px;
    float: left;
    height: 300px;
    width: auto;
}
#test{
    box-shadow: 3px 3px 10px black, -3px -3px 10px black;
    background-color: lightgray;
    height: 300px;
}